# Build directories
build/
out/
Debug/
Release/
x64/
x86/
[Bb]in/
[Ll]ib/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.cmake
generated/
*.pc

# IDE specific
.vs/
.vscode/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.dir/

# Compiled files
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.lib
*.pdb
*.ilk
*.exp
*.iobj
*.ipdb

# OS specific
.DS_Store
Thumbs.db

# Dependencies (since we're using git submodules)
external/*/

# Temporary files
*.swp
*~ 